{% extends '::base.html.twig' %}

{% block body -%}
    <h4>
        {#You are logged as:#}
        {#{% if user %}#}
            {#{{ user.username }}#}
        {#{% else %}#}
            {#guest#}
        {#{% endif %}#}
       |  <a href="{{ path('fos_user_security_logout') }}"> Logout </a>
    </h4>
    <h1>Lunch list</h1>
    <table class="records_list">
        <thead>
        <tr>
            <th></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
        </tr>
        </thead>
        <tbody>
        <form action="{{ path('ens_lunch_order') }}" method="post">

            {% for category in categories %}
                <tr>
                    <td>{{ category }}</td>
                    {% for day in days %}
                        <td>
                            <label>
                                <select name="{{ category }}[{{ day }}]">
                                    {% for entity in entities %}
                                        {% if ((entity.day  ==  day ) and (entity.categories  ==  category ) and (entity.active  ==  true )) %}
                                            <option value="{{ entity.id }}">{{ entity.description }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </label>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <input type="submit" value="Save">
                </td>
            </tr>

        </form>
        </tbody>
    </table>
    {% block adminBlock %}
    {% endblock %}
{% endblock %}
