{% extends '::index.html.twig' %}
{% block adminBlock %}
    <ul>
        <li>
            <a href="{{ path('ens_lunch_upload') }}">
                Create a new menu
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{ path('ens_lunch_upload_order') }}">
                Upload a new order form file
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{ path('ens_lunch_show_all') }}">
                Show all dishes
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{ path('ens_all_users') }}">
                Show all users
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{ path('ens_all_docs') }}">
                Show all files
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{ path('ens_download_menu') }}">
                Download menu files
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{ path('ens_download_order') }}">
                Download order files
            </a>
        </li>
    </ul>
{% endblock %}