{% extends '::index.html.twig' %}
{% block adminBlock %}
    <ul>
        <li>
            <a href="{{ path('ens_lunch_upload') }}">
                Create a new menu
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{ path('ens_lunch_show_all') }}">
                Show all dishes
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{ path('ens_all_users') }}">
                Show all users
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{ path('ens_all_docs') }}">
                Show all files
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{ path('ens_download_4_menu') }}">
                Download menu files (4 floor)
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{ path('ens_download_5_menu') }}">
                Download menu files (5 floor)
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{ path('ens_download_4_order') }}">
                Download order files (4 floor)
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{ path('ens_download_5_order') }}">
                Download order files (5 floor)
            </a>
        </li>
    </ul>
{% endblock %}