{% block adminBlock %}
    <h1>Admin panel {{ dateperiod }}</h1>

    <ul>
        <li>
            <a href="{{ path('ens_lunch_upload') }}">
                Create a new menu
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{ path('ens_lunch_show_all') }}">
                Show all dishes
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{ path('ens_all_users') }}">
                Show all users
            </a>
        </li>
    </ul>
    <form action="{{ path('ens_order_menu_files') }}" method="post">
        <input type="submit" value="Generate order and menu files">
    </form>
{% endblock %}