{% extends '::base.html.twig' %}
{% block body %}
    <h2>All users</h2>

    <table class="records_list">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Name</th>
            <th>Role</th>
            <th>E-mail</th>
            <th>Default action</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</a></td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.name }}</td>
                <td>
                    {% for role in entity.roles %}
                        <ul>
                            <li>
                                {{ role }}
                            </li>
                        </ul>
                    {% endfor %}
                </td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.defaultAction }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}