{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lunch list</h1>
<div id="lunches">
    {% for category in categories %}
    <div>
        <div class="category">
            {#<div class="feed">#}
                {#<a href="">Feed</a>#}
            {#</div>#}
            <h1>{{ category.name }}</h1>
        </div>
                <table class="records_list">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Day of week</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in category.activelunches %}
                        <tr>
                            <td>{{ entity.type }}</td>
                            <td>{{ entity.dayofweek }}</td>
                            <td>{{ entity.description }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('ens_lunch_show', { 'id': entity.id }) }}">Show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('ens_lunch_edit', { 'id': entity.id }) }}">Edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>

    <ul>
        <li>
            <a href="{{ path('ens_lunch_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
